tbody tr:nth-child(odd) {
    background-color: #ff33cc;
    /*font-display: block ;*/
  }
  
  tbody tr:nth-child(even) {
    background-color: #e495e4;

  }
  
  table {
    background-color: #ff33cc;
  }

.chrometable{
  
  background-color:darkred;
    inline-size: 60%;
  border-block-end-width: 10px;
  border-block-end-style: solid;
  border-block-end-color: gold;
}
.chrometable2{
  background-color: gold;
  inline-size: 60%;
  border-block-end-width: 10px;
  border-block-end-style: solid;
  border-block-end-color: darkred;
}