div{
  width: 400px;
  height: 30px;
  background-color: whitesmoke;
  transition: width 2s;
  transition-delay: 1.5s
}

.topbar{
  position: sticky;
  top: 0;
  border: 2px solid #4CAF50;
  border: solid black 1px;
  background-color: violet;
  width: 400px;
  aspect-ratio: 8/1;
  animation: mymove 3s;
  animation-fill-mode: forwards;
  animation: mymove3s;
  animation-fill-mode: backwards;
}

body{
  background:repeating-linear-gradient(darkred,gold);
  background-repeat: repeat-x;
  background-repeat: repeat-y;

}

tbody tr:nth-child(odd) {
    background-color: hsl(315, 100%, 60%);
  }
  
  tbody tr:nth-child(even) {
    background-color: #e495e4;

  }
  
  .organize {
    background-color: #ff33cc;
    table-layout: fixed;
    width: 100%;

  }

.chrometable{
  
  background-color:darkred;
    inline-size: 60%;
  border-block-end-width: 10px;
  border-block-end-style: solid;
  border-block-end-color: gold;
}
.chrometable2{
  background-color: gold;
  inline-size: 60%;
  border-block-end-width: 10px;
  border-block-end-style: solid;
  border-block-end-color: darkred;
}

.collum{
  columns: 6rem auto;
}

#a{
  quotes: "'" "'";
}


@keyframes example{
  from{
      background-color:gold
  }
  to{
      background-color:darkred
  }
}

.colorchange{
  height: 40px;
  background: darkred;
  animation-name: example;
  animation-delay: 4s;
  animation: example 4s;
}

.heading{
  color:black;
  transition-timing-function: steps(6,end);
  transition-duration: 0.5s;
  transition-delay: 2s;
}

.heading:hover{
  transform: translate(50px, 100px) rotate(20deg);
}