html {
    font-size:  18px
}



.center{
    margin-left: 360px;
}
.topbar{
    position: sticky;
    top: 0;
    border: 2px solid #4CAF50;
    border: solid black 1px;
    background-color: violet;
    width: 400px;
    aspect-ratio: 8/1;
    animation: mymove 3s;
    animation-fill-mode: forwards;
    animation: mymove3s;
    animation-fill-mode: backwards;
}

  .highlight{
    background-color: antiquewhite;
    border: solid yellow;
  }
    
  
body{
    background: linear-gradient(rgb(230, 89, 112), rgb(22, 24, 161)) ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Times New Roman', Times;
    font-weight: 600;
    }


h1{
    color:goldenrod;
    border: 6px dashed darkred;
    width: 50%;
    text-shadow: 2px 2px 5px rgb(193, 213, 9);
    vertical-align: bottom;
    
}



img{
    height:500;
    width: 500;
}
video{
    height: 400px;
    width: 300px;
    background-image: linear-gradient(to right, rgb(25, 0, 255) , rgb(0, 81, 255));
    

}

a{
    text-decoration: dashed;
    cursor: pointer;
    color:blue;
    font-style: oblique;
}

a:visited{
    color: green
}

a:hover, a:focus{
    background: black;
    color: white; 
}
a:active{
    color: black;
}
