.topbar{
    position: sticky;
    top: 0;
    border: 2px solid #4CAF50;
    border: solid black 1px;
    background-color: violet;
    width: 400px;
    aspect-ratio: 8/1;
    animation: mymove 3s;
    animation-fill-mode: forwards;
    animation: mymove3s;
    animation-fill-mode: backwards;
}


body{
    background-image: url(wood.jpeg) ;
    background-size: auto;
}

sub, sup{
    color:black;
    font-weight: lighter ;
}

p{
    color: black;
}

ol li:nth-child(even){
    color:lime;
}

ol li:nth-child(odd){
    color:burlywood;
}

::marker{
    color: black;
}

ul li:nth-child(2){
    color: red;
}


table, th,td{
    border: 50px insert;
    color: black;
    padding : 10px;
}

/* need to fix this class */
.opacitylow{
    opacity: .33;
}

.oneline{
    white-space: nowrap;
}

.dissapear{
    visibility: hidden;
}

.outline{
    outline: thick double;
    color: white;
}


