sub, sup{
    color:black;
    font-weight: lighter ;
}

p{
    color: black;
}

ol li:nth-child(even){
    color:lime;
}

ol li:nth-child(odd){
    color:burlywood;
}

::marker{
    color: black;
}

ul li:nth-child(2){
    color: red;
}


table, th,td{
    border: 50px insert;
    color: black;
    padding : 10px;
}

/* need to fix this class */
.opacitylow{
    opacity: .33;
}

.oneline{
    white-space: nowrap;
}

.dissapear{
    visibility: hidden;
}

.outline{
    outline: thick double;
    color: rebeccapurple;
}


